{% extends "baselayout.html" %}
{% load i18n %}
{% load static %}
{% load dictionary_lookup %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'catalogues/css/collection_detail.css' %}">
{% endblock %}

{% block content %}

<div class="row flex-row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="flex-col">
            <!-- Put content header here -->
            <h2>
                Person <i>{{ object }}</i>
            </h2>

            <dl class="dl-horizontal" style="padding-bottom: 15px;">
                <dt>{% trans "Short name" %}</dt>
                <dd>{{ object.short_name }}</dd>

                <dt>{% trans "Name" %}</dt>
                <dd>{{ object.first_names }} {{ object.surname }}</dd>

                <dt>{% trans "Birth" %}</dt>
                <dd>{% if object.city_of_birth %}{{ object.city_of_birth }}, {% endif %}{{ object.date_of_birth }}</dd>

                <dt>{% trans "Death" %}</dt>
                <dd>{% if object.city_of_death %}{{ object.city_of_death }}, {% endif %}{{ object.date_of_death }}</dd>

                <dt>{% trans "Sex" %}</dt>
                <dd>{{ object.sex }}</dd>

                <dt>{% trans "Notes" %}</dt>
                <dd>{{ object.notes|default:"—" }}</dd>

                <dt>{% trans "Bibliography" %}</dt>
                <dd>{{ object.bibliography|default:"—" }}</dd>
            </dl>

            <div>
                {% with object.personcollectionrelation_set.all as collection_relations %}
                    {% if collection_relations %}
                        <h3>{% trans "Collections" %}</h3>
                        <ul>
                        {% for relation in collection_relations %}
                            <li>
                                <a href="{{ relation.collection.get_absolute_url }}">{{ relation.collection }}</a> ({{ relation.role }})
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                {% if person_item_relations %}
                    <h3>{% trans "Items" %}</h3>
                    <ul>
                        {% for relation in person_item_relations %}
                            <li>
                                <a href="{{ relation.item.get_absolute_url }}">{{ relation.item }}</a>
                                ({{ relation.role }})
                                {% if relation.notes %}
                                    <a href="{{ relation.get_absolute_url }}">
                                        <span class="glyphicon glyphicon-comment" title="{{ relation.notes }}"></span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}

                {% with object.publisher_set.all as publisher_relations %}
                    {% if publisher_relations %}
                        <h3>{% trans "Editions" %}</h3>
                        <ul>
                        {% for relation in publisher_relations %}
                            <li>
                                <a href="{{ relation.edition.get_absolute_url }}">{{ relation.edition }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                {% with object.works.all as workauthor_relations %}
                    {% if workauthor_relations %}
                        <h3>{% trans "Works" %}</h3>
                        <ul>
                        {% for relation in workauthor_relations %}
                            <li>
                                <a href="{{ relation.work.get_absolute_url }}">{{ relation.work }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>

        </div>
    </div>
    <div class="col-xs-3">
        {% if perms.global.view_all %}
        <div>
            <a href="{% url 'change_person' object.uuid %}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}