{% extends extended_layout|default:"baselayout.html" %}
{% load i18n %}


{% block extracss %}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>{% trans action|title %} {% trans object_name %}</h1>
    </div>
    <div class="col-lg-6">
        <form action="{{ request.path }}?next={{ next_url }}" method="post" enctype="multipart/form-data">
            <table class="table">
                {% csrf_token %}
                    {% if form_as == 'p' %}
                        {{ form.as_p }}
                    {% else %}
                        {{ form.as_table }}
                    {% endif %}
            </table>
            <hr/>
            <h3>{% trans "Alternative names" %}</h3>
            {% if alternativepersonnames %}
                {{ alternativepersonnames.management_form }}
                <div id="form_set_alternativepersonnames">
                    {% for form in alternativepersonnames %}
                        <h5>Alternative name {{ forloop.counter0|add:1 }}</h5>
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                    {% endfor %}
                    <div id="empty_form_alternativepersonnames" style="display:none">
                        <h5>Alternative name __prefixplusone__</h5>
                        <table class='table'>
                            {{ alternativepersonnames.empty_form }}
                        </table>
                    </div>
                </div>
                <button type="button" class="btn btn-default" id="add_more_alternativepersonnames"
                title="Add another alternative person name">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            {% endif %}
            <hr/>
            <h3>{% trans "Residences" %}</h3>
            {% if residences %}
                {{ residences.management_form }}
                <div id="form_set_residences">
                    {% for form in residences %}
                        <h5>Residence {{ forloop.counter0|add:1 }}</h5>
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                    {% endfor %}
                    <div id="empty_form_residences" style="display:none">
                        <h5>Residence __prefixplusone__</h5>
                        <table class='table'>
                            {{ residences.empty_form }}
                        </table>
                    </div>
                </div>
                <button type="button" class="btn btn-default" id="add_more_residences"
                title="Add another residence">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            {% endif %}
            <hr/>
            <h3>{% blocktrans %} Person relations  {% endblocktrans %}</h3>
            <h5>{% blocktrans %} <i>{{ object }}</i> is the first person in the relation {% endblocktrans %}</h5>
            {% if firstpersonrelations %}
                {{ firstpersonrelations.management_form }}

                <table class="table">
                {% for form in firstpersonrelations %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-default" id="add_more_firstpersonrelations"
                                title="Add another person relation">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tbody id="form_set_firstpersonrelations">
                        <tr>
                            <td>{{ forloop.counter0|add:1 }}</td>
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
                </table>

                <table style="display:none">
                    <tbody id="empty_form_firstpersonrelations">
                        <tr>
                            <td>__prefixplusone__</td>
                            {% for field in firstpersonrelations.empty_form.visible_fields %}
                           <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in firstpersonrelations.empty_form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            <hr/>
            <h5>{% blocktrans %} <i>{{ object }}</i> is the second person in the relation {% endblocktrans %}</h5>
            {% if secondpersonrelations %}
                {{ secondpersonrelations.management_form }}

                <table class="table">
                {% for secondpersonrelationsform in secondpersonrelations %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-default" id="add_more_secondpersonrelations"
                                title="Add another person relation">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                            {% for field in secondpersonrelationsform.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tbody id="form_set_secondpersonrelations">
                        <tr>
                            <td>{{ forloop.counter0|add:1 }}</td>
                            {% for field in secondpersonrelationsform.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in secondpersonrelationsform.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
                </table>

                <table style="display:none">
                    <tbody id="empty_form_secondpersonrelations">
                        <tr>
                            <td>__prefixplusone__</td>
                            {% for field in secondpersonrelations.empty_form.visible_fields %}
                           <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in secondpersonrelations.empty_form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            {% endif %}

            <hr/>

            <div>
                <input type="submit" class="btn pull-right" value="{% trans 'Save' %}"/>
                {% if next_url %}
                    <a href="{{ next_url }}">{% trans 'Cancel' %}</a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#relateditemspanel">{% trans "Related items" %}
                    <span class="glyphicon glyphicon-chevron-down"></span></a>
                </h4>
            </div>
            <div id="relateditemspanel" class="panel-collapse collapse in">
              <div class="panel-body">
                  <table class="table">
                      <thead>
                        <tr>
                            <th>{% trans "Item" %}</th>
                            <th>{% trans "Role" %}</th>
                            <th>{% trans "Notes" %}</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for relation in object.personitemrelation_set.all %}
                            <tr>
                                <td><a href="{{ relation.item.get_absolute_url }}">{{ relation.item }}</a></td>
                                <td>{{ relation.role }}</td>
                                <td>{% if relation.notes %}{{ relation.notes|linebreaks }}{% else %}-{% endif %}</td>
                                <td>
                                    <a href="{{ relation.get_absolute_url }}" title="{% trans 'Change relation' %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    {% if js_variables %}
        js_variables = {{ js_variables|safe }}
    {% endif %}
</script>
{{ form.media.js }}
<script>
$(document).ready(function(){
        $('.django-select2').djangoSelect2({placeholder: 'Select an option'});
});
</script>
<script>
$(document).ready(function(){
    // Dynamically add a Alternative names form to the form set
    $('#add_more_alternativepersonnames').click(function() {
        var form_idx = $('#id_alternative_names-TOTAL_FORMS').val();
        $('#form_set_alternativepersonnames').append($('#empty_form_alternativepersonnames').html()
            .replace(/__prefix__/g, form_idx)
            .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
        $('#form_set_alternativepersonnames').find('select').djangoSelect2();

        // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
        $('#form_set_alternativepersonnames').find('select ~ span:nth-of-type(2)').hide();

        $('#id_alternative_names-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    // Dynamically add a Alternative names form to the form set
    $('#add_more_residences').click(function() {
        var form_idx = $('#id_residence_set-TOTAL_FORMS').val();
        $('#form_set_residences').append($('#empty_form_residences').html()
            .replace(/__prefix__/g, form_idx)
            .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
        $('#form_set_residences').find('select').djangoSelect2();

        // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
        $('#form_set_residences').find('select ~ span:nth-of-type(2)').hide();

        $('#id_residence_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    // Dynamically add a Person relations form to the form set
    $('#add_more_firstpersonrelations').click(function() {
        var form_idx = $('#id_relations_when_first-TOTAL_FORMS').val();
        $('#form_set_firstpersonrelations').append($('#empty_form_firstpersonrelations').html()
            .replace(/__prefix__/g, form_idx)
            .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
        $('#form_set_firstpersonrelations').find('select').djangoSelect2();

        // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
        $('#form_set_firstpersonrelations').find('select ~ span:nth-of-type(2)').hide();

        $('#id_relations_when_first-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    // Dynamically add a Person relations form to the form set
    $('#add_more_secondpersonrelations').click(function() {
        var form_idx = $('#id_relations_when_second-TOTAL_FORMS').val();
        $('#form_set_secondpersonrelations').append($('#empty_form_secondpersonrelations').html()
            .replace(/__prefix__/g, form_idx)
            .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
        $('#form_set_secondpersonrelations').find('select').djangoSelect2();

        // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
        $('#form_set_secondpersonrelations').find('select ~ span:nth-of-type(2)').hide();

        $('#id_relations_when_second-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
});
</script>
{% endblock %}
