{% extends "baselayout.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    <h1>Catalogue Items</h1>
    {% if object_list %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Number in catalogue" %}</th>
                        <th>{% trans "Item as listed in catalogue" %}</th>
                        <th>{% trans "Catalogue" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catalogueitem in object_list %}
                        <tr>
                            <td>{{ catalogueitem.number_in_catalogue }}</td>
                            <td>{{ catalogueitem.item_as_listed_in_catalogue }}</td>
                            <td>{{ catalogueitem.catalogue.short_title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>No catalogue items.</div>
    {% endif %}
    </div>
</div>

{% endblock %}