{% extends "baselayout.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-xs-10">
        <h1>Catalogue detail</h1>
        <dl class="dl-horizontal">
            <dt>{% trans "Short title" %}</dt>
            <dd>{{ object.short_title }}</dd>

            <dt>{% trans "Full title" %}</dt>
            <dd>{{ object.full_title }}</dd>

            <dt>{% trans "Year of publication" %}</dt>
            <dd>{{ object.year_of_publication }}</dd>

            <dt>{% trans "Notes" %}</dt>
            <dd>{{ object.notes }}</dd>
        </dl>
    </div>
    <div class="col-xs-2">
        <h3>Actions</h3>
        <ul>
            <li>
                <a href="">Edit this catalogue</a>
            </li>
            <li>
                <a href="">Delete this catalogue</a>
            </li>
            <li>
                <a href="">Create new catalogue</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}