{% extends extended_layout|default:"baselayout.html" %}
{% load i18n %}


{% block extracss %}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>{% trans action|title %} {% trans object_name %}</h1>
    </div>
    <div class="col-lg-6">
        <form action="{{ request.path }}?next={{ next_url }}" method="post" enctype="multipart/form-data">
            <table class="table">
                {% csrf_token %}
                    {% if form_as == 'p' %}
                        {{ form.as_p }}
                    {% else %}
                        {{ form.as_table }}
                    {% endif %}
            </table>
            <div class="pull-right">
                <input type="submit" class="btn" value="{% trans 'Save' %}"/>
                {% if next_url %}
                    <a href="{{ next_url }}">{% trans 'Cancel' %}</a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#previouslotspanel">{% trans "Previous lots" %}
                    <span class="glyphicon glyphicon-chevron-down"></span></a>
                </h4>
            </div>
            <div id="previouslotspanel" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Index in catalogue" %}</th>
                            <th>{% trans "Lot text" %}</th>
                        </tr>
                    </thead>
                    <tbody id="previouslotstablebody">
                        {% with previous_lots=object.lot.get_previous_lots %}
                            {% for lot in  previous_lots %}
                            <tr>
                                <td>{{ lot.index_in_catalogue }}</td>
                                <td>{{ lot.lot_as_listed_in_catalogue}}</td>
                            </tr>
                            {% endfor %}
                            {% with first_lot=previous_lots|first %}
                            <script type="text/javascript">
                                var previous_lot_index = {{ first_lot.index_in_catalogue }} - 1;
                            </script>
                            {% endwith %}
                        {% endwith %}
                    </tbody>
                </table>
                  <button id="getlotbutton" class="btn btn-default">{% trans "Get lot" %}</button>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#otheritemspanel">{% trans "Other items in the same lot" %}
                    <span class="glyphicon glyphicon-chevron-down"></span></a>
                </h4>
            </div>
            <div id="otheritemspanel" class="panel-collapse collapse">
              <div class="panel-body">
                  <table class="table">
                      <thead>
                        <tr>
                            <th>{% trans "Index in lot" %}</th>
                            <th>{% trans "Short title" %}</th>
                            <th>{% trans "Place of publication" %}</th>
                            <th>{% trans "Year of publication" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in object.get_other_items_in_lot %}
                            <tr>
                                <td>{{ item.index_in_lot }}</td>
                                <td>{{ item.short_title }}</td>
                                <td>{% if item.edition.place %}{{ item.edition.place }}{% endif %}</td>
                                <td>{% if item.edition.year %}{{ item.edition.year }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#relatedpersonspanel">{% trans "Related persons" %}
                    <span class="glyphicon glyphicon-chevron-down"></span></a>
                </h4>
            </div>
            <div id="relatedpersonspanel" class="panel-collapse collapse in">
              <div class="panel-body">
                  <table class="table">
                      <thead>
                        <tr>
                            <th>{% trans "Person" %}</th>
                            <th>{% trans "Role" %}</th>
                            <th>{% trans "Notes" %}</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for relation in object.personitemrelation_set.all %}
                            <tr>
                                <td><a href="{{ relation.person.get_absolute_url }}">{{ relation.person }}</a></td>
                                <td>{{ relation.role }}</td>
                                <td>{% if relation.notes %}{{ relation.notes|linebreaks }}{% endif %}</td>
                                <td>
                                    <a href="{{ relation.get_absolute_url }}" title="{% trans 'Change relation' %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    {% if js_variables %}
        js_variables = {{ js_variables|safe }}
    {% endif %}
</script>
{{ form.media.js }}
<script>
$(document).ready(function(){
    $('.django-select2').djangoSelect2({placeholder: 'Select an option'});

    var previous_lot_url_base = "{% url 'get_previous_lot' object.lot.catalogue.uuid 0 %}".slice(0, -1);

    $('#getlotbutton').on('click', function() {
        $.get(previous_lot_url_base + previous_lot_index, function(data) {
                if(data.success) {
                    // Update Previous lots table: add row add the top
                    $('#previouslotstablebody').prepend(
                        `<tr><td>${data.index_in_catalogue}</td><td>${data.lot_as_listed_in_catalogue}</td></tr>`
                    );
                    previous_lot_index--;
                }
            });
        });
});
</script>
{% endblock %}
