{% extends "baselayout.html" %}
{% load i18n %}


{% block extracss %}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-10">
        <h1>{% trans action %} <i>{% trans object_name %}</i></h1>

        <h3>{% trans "People" %}</h3>
        {% for relation in existing_relations %}
            <p>{{ relation.role }}: {{ relation.person }}
                <a class="delete-personitemrelation" href="" data-toggle="modal" data-target="#deleteModal"
                   modal_url="{% url 'delete_personitemrelation' relation.uuid %}">
                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-original-title="{% trans 'Delete' %}"></span>
                </a>
            </p>
        {% endfor %}

        <br />

        <h3>{% trans "Add person" %}</h3>
        <form action="" method="post">
            <table class="table">
                {% csrf_token %}
                    {% if form_as == 'p' %}
                        {{ form.as_p }}
                    {% else %}
                        {{ form.as_table }}
                    {% endif %}
            </table>
        <input type="submit" class="btn pull-right" value="{% trans 'Add' %}"/>
        </form>
    </div>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Warning" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to delete the relation to this person?" %}</p>
      </div>
      <div class="modal-footer">
        <!-- Since the confirmation is done in this modal, the deletion is done using a POST.
        A GET would trigger a confirm page. -->
        <form id="delete-form" method="POST" action="">
           {% csrf_token %}
        </form>
        <a class="btn btn-danger" href="" id="delete-link"
               onclick="document.getElementById('delete-form').submit(); return false;">{% trans "Yes" %}</a>
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
      </div>
    </div>

  </div>
</div>

<!-- Add another Modal -->
<div id="addanotherModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> {% trans "Add another person" %}</h4>
      </div>
        <form id="addanother-person-form" action="{% url 'add_person' %}" method="post">
          <div class="modal-body">
                <table class="table">
                    {% csrf_token %}
                        {% if form_as == 'p' %}
                            {{ addanother_person_form.as_p }}
                        {% else %}
                            {{ addanother_person_form.as_table }}
                        {% endif %}
                </table>
              <div id="addanother-person-message">

              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="{% trans 'Add' %}"/>
            <input type="reset" class="btn btn-default" data-dismiss="modal" value="{% trans 'Cancel' %}"/>
          </div>
        </form>
    </div>

  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    js_variables = {{ js_variables|safe }}
</script>
{{ form.media.js }}
{{ addanother_person_form.media.js }}
<script>
function handleAddanotherPersonResponse(response) {
    console.log(response);
    if(response.pk) { // Success!
        $('#id_person').append(
            '<option value="'+response.pk+'">'+response.short_name+'</option>'
        );
        $('#addanotherModal').modal('toggle');
    } else {
        $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
    }
}

$(document).ready(function(){
        $('.django-select2').djangoSelect2({placeholder: 'Select an option'});

        $('.delete-personitemrelation').on('click', function() {
            var url = $(this).attr('modal_url');
            $('#delete-form').attr('action', url);
            $('#delete-link').attr('href', url);
        });

        $('[data-toggle="tooltip"]').tooltip({
            placement : 'right'
        });

        $('#addanother-person-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                 type:"POST",
                 url: $('#addanother-person-form').attr('action'),
                 data: $('#addanother-person-form').serialize(),
                 success: function(response){
                     handleAddanotherPersonResponse(response);
                 },
                 error: function(response){
                    console.log(response);
                    $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
                 }
            });
        });
});
</script>
{% endblock %}
