git+https://github.com/vanlummelhuizen/AttrDict.git@master#egg=attrdict
Django==5.2
django-autocomplete-light==5
django-bootstrap3==26.2
django-cachalot==2.9
django-computedfields==0.3.6
git+https://github.com/Mediate18/django-date-extensions.git@d6d38f1aaa924094e9ebbb8796e5aa4e6eb743ee#egg=django_date_extensions
django-filter==26.1
django-guardian==3.3.3
gunicorn==26.1
django-leaflet==0.34
django-maintenance-mode==0.23
django-extensions==4.1
django-redis
django-registration==5.2.1
django-request==1.7.1
django-select2==8.4.8
django-silk==5.5.2
django-simple-history==3.13.0
django-tables2==3.0.0
djangorestframework==3.18.0
mysqlclient==2.2.8
python-decouple==3.8
PyYAML==6.0.3
rdflib
requests
sqlparse==0.6.0
tablib==3.10.0
