Django==2.2.13
django-appconf==1.0.2
django-autocomplete-light==3.2.10
django-betterforms==1.2
django-bootstrap3==9.1.0
-e git+https://github.com/Mediate18/django-date-extensions.git#egg=django-date-extensions
django-dbbackup==3.2.0
django-filter==2.0.0
django-guardian==1.5.1
django-leaflet==0.25.0
django-maintenance-mode==0.10.0
django-model-utils==3.1.1
django-extensions==3.1.0
django-select2==6.0.2
django-simple-history==2.7.2
django-tables2==2.2.1
-e git+https://github.com/Mediate18/django-tagging.git@a566fe44661d01d714846fafd4e626ad071a4bcb#egg=django_tagging
django-test-without-migrations==0.6
djangorestframework==3.11.2
mysqlclient==2.0.3
python-decouple==3.1
sqlparse==0.3.0
tablib==0.13.0
viapy==0.1.1
