{% extends 'baselayout.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Password reset complete</h3>
                </div>
                <div class="panel-body">
                    <p>Your new password has been set. You can log in now on the
                        <a href="{% url 'login' %}">log in page</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}