{% extends 'baselayout.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot your password?</h3>
                </div>
                <div class="panel-body">
                    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Your form contains one or more problems. Please review the form.</strong>
                        </div>
                    {% endif %}
                    <form method="POST">
                      {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <div class="text-center">
                            <input class="btn btn-basic" type="submit" value="Send the instructions" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}