{% load i18n %}{% autoescape off %}
{% blocktrans %}Dear {{ site_name }} user,{% endblocktrans %}

{% blocktrans %}You're receiving this email because someone requested a password reset for your user account at
{{ site_name }}.{% endblocktrans %}
{% trans "If you are not the one that made this request, please ignore and delete this email." %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
