{% extends "baselayout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up</h3>
                </div>
                <div class="panel-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Your form contains one or more problems. Please review the form.</strong>
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'django_registration_register' %}">
                        {% csrf_token %}
                        <p class="bs-component">
                            <table class="table">
                                {{ form }}
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-basic" type="submit" value="Sign up" />
                            </center>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}