{% extends "baselayout.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Dashboard" %}</h1>

<div class="row">
    <div class="col-xs-3">
        <h3>{% trans "Persons" %}</h3>
        <table class="table">
            <tbody>

                {% if perms.persons.change_person %}
                <tr>
                    <td>
                        <a href="{% url 'persons' %}">Persons</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personpersonrelation %}
                <tr>
                    <td>
                        <a href="{% url 'personpersonrelations' %}">PersonPersonRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personpersonrelationtype %}
                <tr>
                    <td>
                        <a href="{% url 'personpersonrelationtypes' %}">PersonPersonRelationTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personprofession %}
                <tr>
                    <td>
                        <a href="{% url 'personprofessions' %}">PersonProfessions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_place %}
                <tr>
                    <td>
                        <a href="{% url 'places' %}">Places</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_profession %}
                <tr>
                    <td>
                        <a href="{% url 'professions' %}">Professions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_religion %}
                <tr>
                    <td>
                        <a href="{% url 'religions' %}">Religions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_religiousaffiliation %}
                <tr>
                    <td>
                        <a href="{% url 'religiousaffiliations' %}">ReligiousAffiliations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_residence %}
                <tr>
                    <td>
                        <a href="{% url 'residences' %}">Residences</a>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>

    </div>
    <div class="col-xs-3">
        <h3>{% trans "Catalogues" %}</h3>
        <table class="table">
            <tbody>
                {% if perms.catalogues.change_catalogue %}
                <tr>
                    <td>
                        <a href="{% url 'catalogues' %}">Catalogues</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_catalogueheldby %}
                <tr>
                    <td>
                        <a href="{% url 'catalogueheldbys' %}">CatalogueHeldBys</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_cataloguetype %}
                <tr>
                    <td>
                        <a href="{% url 'cataloguetypes' %}">CatalogueTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_cataloguecataloguetyperelation %}
                <tr>
                    <td>
                        <a href="{% url 'cataloguecataloguetyperelations' %}">CatalogueCatalogueTypeRelation</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_category %}
                <tr>
                    <td>
                        <a href="{% url 'categories' %}">Category</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_parisiancategory %}
                <tr>
                    <td>
                        <a href="{% url 'parisiancategories' %}">ParisianCategory</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_collection %}
                <tr>
                    <td>
                        <a href="{% url 'collections' %}">Collections</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_collectionyear %}
                <tr>
                    <td>
                        <a href="{% url 'collectionyears' %}">CollectionYears</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_library %}
                <tr>
                    <td>
                        <a href="{% url 'libraries' %}">Libraries</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_lot %}
                <tr>
                    <td>
                        <a href="{% url 'lots' %}">Lots</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcataloguerelation %}
                <tr>
                    <td>
                        <a href="{% url 'personcataloguerelations' %}">PersonCatalogueRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcataloguerelationrole %}
                <tr>
                    <td>
                        <a href="{% url 'personcataloguerelationroles' %}">PersonCatalogueRelationRoles</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcollectionrelation %}
                <tr>
                    <td>
                        <a href="{% url 'personcollectionrelations' %}">PersonCollectionRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_sourcematerial %}
                <tr>
                    <td>
                        <a href="{% url 'sourcematerials' %}">SourceMaterials</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_transcription %}
                <tr>
                    <td>
                        <a href="{% url 'transcriptions' %}">Transcriptions</a>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <div class="col-xs-3">
        <h3>{% trans "Items" %}</h3>
        {% if request.user.is_superuser %}
        <div class="panel panel-default">
            <div class="panel-heading">Item-manifestation links</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <span>Manifestations without items: </span>
                        <span>{{ number_of_manifestations_without_items }}</span>
                        {% if number_of_manifestations_without_items > 0 %}
                            <a title="View manifestations without items"
                               href="{% url 'manifestations' %}?number_of_items_0=0&number_of_items_1=0">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group-item">
                        <span>Manifestation with more than one item: </span>
                        <span>{{ number_of_manifestations_gt_1_item }}</span>
                        {% if number_of_manifestations_gt_1_item > 0 %}
                            <a title="View manifestation with more than one item"
                               href="{% url 'manifestations' %}?number_of_items_0=2">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group-item">
                        <span>Items without manifestation: </span>
                        <span>{{ number_of_items_without_manifestations }}</span>
                        {% if number_of_items_without_manifestations > 0 %}
                            <a title="View items without manifestation"
                               href="{% url 'items' %}?manifestation_isnull=on">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <table class="table">
            <tbody>

                {% if perms.items.change_bookformat %}
                <tr>
                    <td>
                        <a href="{% url 'bookformats' %}">BookFormats</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_item %}
                <tr>
                    <td>
                        <a href="{% url 'items' %}">Items</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemauthor %}
                <tr>
                    <td>
                        <a href="{% url 'itemauthors' %}">ItemAuthors</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemitemtyperelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemitemtyperelations' %}">ItemItemTypeRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemlanguagerelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemlanguagerelations' %}">ItemLanguageRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemmaterialdetailsrelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemmaterialdetailsrelations' %}">ItemMaterialDetailsRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemtype %}
                <tr>
                    <td>
                        <a href="{% url 'itemtypes' %}">ItemTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemworkrelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemworkrelations' %}">ItemWorkRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_language %}
                <tr>
                    <td>
                        <a href="{% url 'languages' %}">Languages</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_materialdetails %}
                <tr>
                    <td>
                        <a href="{% url 'materialdetails' %}">MaterialDetails</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_personitemrelation %}
                <tr>
                    <td>
                        <a href="{% url 'personitemrelations' %}">PersonItemRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_personitemrelationrole %}
                <tr>
                    <td>
                        <a href="{% url 'personitemrelationroles' %}">PersonItemRelationRoles</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_manifestation %}
                <tr>
                    <td>
                        <a href="{% url 'manifestations' %}">Manifestations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_publisher %}
                <tr>
                    <td>
                        <a href="{% url 'publishers' %}">Publishers</a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-3">
        <h3>{% trans "Works" %}</h3>
        <table class="table">
            <tbody>


                {% if perms.items.change_subject %}
                <tr>
                    <td>
                        <a href="{% url 'subjects' %}">Subjects</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_work %}
                <tr>
                    <td>
                        <a href="{% url 'works' %}">Works</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_workauthor %}
                <tr>
                    <td>
                        <a href="{% url 'workauthors' %}">WorkAuthors</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_worksubject %}
                <tr>
                    <td>
                        <a href="{% url 'worksubjects' %}">WorkSubjects</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_documentscan %}
                <tr>
                    <td>
                        <a href="{% url 'documentscans' %}">DocumentScans</a>
                    </td>
                </tr>
                {% endif %}


            </tbody>
        </table>

    </div>
</div>

{% endblock %}