{% extends "baselayout.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Dashboard" %}</h1>

<div class="row">
    <div class="col-md-3">
        <h3>{% trans "Persons" %}</h3>
        <table class="table">
            <tbody>

                {% if perms.persons.change_person %}
                <tr>
                    <td>
                        <a href="{% url 'persons' %}">Persons</a>
                    </td>
                </tr>
                {% endif %}

                {% if perms.global.view_all %}
                <tr>
                    <td>
                        <a href="{% url 'persons_ranking' %}">Person Ranking</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personpersonrelation %}
                <tr>
                    <td>
                        <a href="{% url 'personpersonrelations' %}">PersonPersonRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personpersonrelationtype %}
                <tr>
                    <td>
                        <a href="{% url 'personpersonrelationtypes' %}">PersonPersonRelationTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_personprofession %}
                <tr>
                    <td>
                        <a href="{% url 'personprofessions' %}">PersonProfessions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_country %}
                <tr>
                    <td>
                        <a href="{% url 'countries' %}">Countries</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_place %}
                <tr>
                    <td>
                        <a href="{% url 'places' %}">Places</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_place %}
                <tr>
                    <td>
                        <a href="{% url 'placelinks' %}">PlaceLinks</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_profession %}
                <tr>
                    <td>
                        <a href="{% url 'professions' %}">Professions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_religion %}
                <tr>
                    <td>
                        <a href="{% url 'religions' %}">Religions</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_religiousaffiliation %}
                <tr>
                    <td>
                        <a href="{% url 'religiousaffiliations' %}">ReligiousAffiliations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.persons.change_residence %}
                <tr>
                    <td>
                        <a href="{% url 'residences' %}">Residences</a>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>

    </div>
    <div class="col-md-3">
        <h3>{% trans "Catalogues" %}</h3>
        <table class="table">
            <tbody>
                {% if perms.catalogues.change_catalogue %}
                <tr>
                    <td>
                        <a href="{% url 'catalogues' %}">Catalogues</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_catalogueheldby %}
                <tr>
                    <td>
                        <a href="{% url 'catalogueheldbys' %}">CatalogueHeldBys</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_catalogueplacerelation %}
                <tr>
                    <td>
                        <a href="{% url 'catalogueplacerelations' %}">CataloguePlaceRelation</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_catalogueplacerelationtype %}
                <tr>
                    <td>
                        <a href="{% url 'catalogueplacerelationtypes' %}">CataloguePlaceRelationType</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_cataloguetype %}
                <tr>
                    <td>
                        <a href="{% url 'cataloguetypes' %}">CatalogueTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_cataloguecataloguetyperelation %}
                <tr>
                    <td>
                        <a href="{% url 'cataloguecataloguetyperelations' %}">CatalogueCatalogueTypeRelation</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_category %}
                <tr>
                    <td>
                        <a href="{% url 'categories' %}">Category</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_parisiancategory %}
                <tr>
                    <td>
                        <a href="{% url 'parisiancategories' %}">ParisianCategory</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_collection_tmp %}
                <tr>
                    <td>
                        <a href="{% url 'collection_tmps' %}">Collection_TMPs</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_collection_tmpyear %}
                <tr>
                    <td>
                        <a href="{% url 'collection_tmpyears' %}">Collection_TMPYears</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_library %}
                <tr>
                    <td>
                        <a href="{% url 'libraries' %}">Libraries</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_lot %}
                <tr>
                    <td>
                        <a href="{% url 'lots' %}">Lots</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcataloguerelation %}
                <tr>
                    <td>
                        <a href="{% url 'personcataloguerelations' %}">PersonCatalogueRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcataloguerelationrole %}
                <tr>
                    <td>
                        <a href="{% url 'personcataloguerelationroles' %}">PersonCatalogueRelationRoles</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.catalogues.change_personcollection_tmprelation %}
                <tr>
                    <td>
                        <a href="{% url 'personcollection_tmprelations' %}">PersonCollection_TMPRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_sourcematerial %}
                <tr>
                    <td>
                        <a href="{% url 'sourcematerials' %}">SourceMaterials</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_transcription %}
                <tr>
                    <td>
                        <a href="{% url 'transcriptions' %}">Transcriptions</a>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <h3>{% trans "Items" %}</h3>
        {% if request.user.is_superuser %}
        <!-- Item-Edition links -->
        <div class="panel panel-default">
            <div class="panel-heading">Item-edition links</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <span>Editions without items: </span>
                        <span>{{ number_of_editions_without_items }}</span>
                        {% if number_of_editions_without_items > 0 %}
                            <a title="View editions without items"
                               href="{% url 'editions' %}?number_of_items_0=0&number_of_items_1=0">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group-item">
                        <span>Edition with more than one item: </span>
                        <span>{{ number_of_editions_gt_1_item }}</span>
                        {% if number_of_editions_gt_1_item > 0 %}
                            <a title="View edition with more than one item"
                               href="{% url 'editions' %}?number_of_items_0=2">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group-item">
                        <span>Items without edition: </span>
                        <span>{{ number_of_items_without_editions }}</span>
                        {% if number_of_items_without_editions > 0 %}
                            <a title="View items without edition"
                               href="{% url 'items' %}?edition_isnull=on">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Lot-item links -->
        <div class="panel panel-default">
            <div class="panel-heading">Lot-item links</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <span>Items without a Lot: </span>
                        <span>{{ number_of_items_without_lot }}</span>
                        {% if number_of_items_without_lot > 0 %}
                            <a title="View editions without items"
                               href="{% url 'items' %}?lot_isnull=on">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group-item">
                        <span>Lots without items: </span>
                        <span>{{ number_of_lots_without_items }}</span>
                        {% if number_of_lots_without_items > 0 %}
                            <a title="View editions without items"
                               href="{% url 'lots' %}?number_of_items_0=0&number_of_items_1=0">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <table class="table">
            <tbody>

                {% if perms.items.change_bookformat %}
                <tr>
                    <td>
                        <a href="{% url 'bookformats' %}">BookFormats</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_item %}
                <tr>
                    <td>
                        <a href="{% url 'items' %}">Items</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        <a href="{% url 'taggeditems' %}">Tagged Items</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemauthor %}
                <tr>
                    <td>
                        <a href="{% url 'itemauthors' %}">ItemAuthors</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemitemtyperelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemitemtyperelations' %}">ItemItemTypeRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemlanguagerelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemlanguagerelations' %}">ItemLanguageRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemmaterialdetailsrelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemmaterialdetailsrelations' %}">ItemMaterialDetailsRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemtype %}
                <tr>
                    <td>
                        <a href="{% url 'itemtypes' %}">ItemTypes</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_itemworkrelation %}
                <tr>
                    <td>
                        <a href="{% url 'itemworkrelations' %}">ItemWorkRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_language %}
                <tr>
                    <td>
                        <a href="{% url 'languages' %}">Languages</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_materialdetails %}
                <tr>
                    <td>
                        <a href="{% url 'materialdetails' %}">MaterialDetails</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_personitemrelation %}
                <tr>
                    <td>
                        <a href="{% url 'personitemrelations' %}">PersonItemRelations</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_personitemrelationrole %}
                <tr>
                    <td>
                        <a href="{% url 'personitemrelationroles' %}">PersonItemRelationRoles</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_edition %}
                <tr>
                    <td>
                        <a href="{% url 'editions' %}">Editions</a> - <a href="{% url 'editions_ranking' %}">{% trans "rank by item count" %}</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_publisher %}
                <tr>
                    <td>
                        <a href="{% url 'publishers' %}">Publishers</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_item %}
                <tr>
                    <td>
                        <a href="{% url 'tags_ranking' %}">Item tags</a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <h3>{% trans "Works" %}</h3>
        <table class="table">
            <tbody>


                {% if perms.items.change_subject %}
                <tr>
                    <td>
                        <a href="{% url 'subjects' %}">Subjects</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_work %}
                <tr>
                    <td>
                        <a href="{% url 'works' %}">Works</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_workauthor %}
                <tr>
                    <td>
                        <a href="{% url 'workauthors' %}">WorkAuthors</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.items.change_worksubject %}
                <tr>
                    <td>
                        <a href="{% url 'worksubjects' %}">WorkSubjects</a>
                    </td>
                </tr>
                {% endif %}


                {% if perms.transcriptions.change_documentscan %}
                <tr>
                    <td>
                        <a href="{% url 'documentscans' %}">DocumentScans</a>
                    </td>
                </tr>
                {% endif %}


            </tbody>
        </table>

    </div>
</div>

{% endblock %}