{% extends "baselayout.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="row flex-row">
    <div class="col-md-6 col-md-offset-3">
        <div class="flex-col">

          <h1 style="margin-top: 40px; text-align: left">About this database</h1>

          <p style="font-size: 18px">
            Welcome to the MEDIATE Sandbox database. This database was built as part of an ERC-funded digital
            humanities project, MEDIATE (Measuring Enlightenment: Disseminating Ideas, Authors and Texts in Europe,
            1665-1830) that was carried out at <a href="https://www.ru.nl/">Radboud University (The Netherlands)</a>,
            between 2016 and 2022. In this database, you will find data that has been extracted and
            enriched from a corpus of several hundred catalogues of privately-owned libraries mostly sold at auction in
            the Dutch Republic, France, British Isles and Italy between 1665 and 1830. The Sandbox focuses on
            collections numbering 1,000 or fewer books – with exceptions made for catalogues dating from before 1700,
            or published in Italy. In total, the Sandbox thus includes data from 600 individual, private collections,
            which together list over half a million individual books.
          </p>

          <p style="font-size: 18px">
            For a short overview of the MEDIATE project aims, see the project website,
            <a href="https://mediate18.nl/?page=home">here</a>.
          </p>

          <p style="font-size: 18px">
            You can read more about the database content, as well as some preliminary findings,
            <a href="https://muse.jhu.edu/article/802447/summary">here</a>.
          </p>

          <p style="font-size: 18px">
            For more about the kinds of catalogues that form the core of the database, see
            <a href="https://brill.com/view/book/edcoll/9789004422247/BP000013.xml">here</a>
            (Dutch catalogues) and
            <a href="https://mediate18.nl/docs/Blom_Helwi.pdf">here</a> (French catalogues).
          </p>

          <p style="font-size: 18px">
            Other MEDIATE project publications can be found on the project website,
            <a href="https://mediate18.nl/?page=publications">here</a>.
          </p>

          <h1 style="margin-top: 40px; text-align: left">A database under construction</h1>

          <p style="font-size: 18px">
            The MEDIATE database is currently under construction, and will remain so for some time. This is therefore a
            dynamic database, which is continually being updated and expanded. Records may contain errors, and data may
            change over time as it is further enriched and cleaned up. Our aim has not been to provide perfect
            transcriptions of every word in the catalogues, but to render the data extracted from the catalogues
            statistically manipulable. Since most catalogue transcriptions have been produced using OCR (optical
            character recognition) software, with some manual post-correction, a number of common OCR mistakes remain:
            long ‘s’ transcribed as ‘f’, ‘e’ transcribed as ‘c’, ‘a’ as ‘o’, ‘i’ as ‘t’, ‘l’ as ‘1’, etc.
          </p>

          <p style="font-size: 18px">
            The process of matching book items to VIAF Authors, Works, and adding language and subject information
            (Parisian bookseller categories, as determined by ourselves, in addition to subject categories used in the
            catalogues themselves) is ongoing, and is far from complete. For an overview of the matching and
            identification work that has been carried out so far, please consult the
            <a href="{% url 'totals'%}">Database totals</a> page.
          </p>

          <p style="font-size: 18px">
            For more about the database development process, see
            <a href="https://mediate18.nl/docs/Montoya_2020-Digitizing_Enlightenment.pdf">here</a>.
          </p>

          <h1 style="margin-top: 40px; text-align: left">How to cite this database</h1>

          <p style="font-size: 18px">
            If referring to data from this database, please use the following citation form:
          </p>

          <p style="font-size: 18px">
            Alicia C. Montoya, Micha Hulsbosch, Helwi Blom, Evelien Chayes, Anna de Wilde, Rindert Jagersma,
            Juliette Reboul, and Joanna Rozendaal, <i>MEDIATE</i> database, 2022 – (ongoing),
            https://mediate-database.cls.ru.nl/ [date accessed].
          </p>

          <h1 style="margin-top: 40px; text-align: left">Catalogue distribution</h1>

          <p style="font-size: 18px">
            The MEDIATE Sandbox dataset is made up of 600 collections. A collection comprises, in theory, all the books
            owned by a specific library owner over the course of their life – although in practice, the MEDIATE
            database currently only records items listed in printed catalogues of collections drawn up during or after
            the owner’s life. A number of catalogues used in creating the database describe more than one collection.
            Conversely, some collections are spread out over multiple catalogues.
          </p>

          <p style="font-size: 18px">
            <dl style="padding-bottom: 15px;">
              <dt>For the period 1665 – 1700:</dt>
              <dd>50 Dutch, 20 British, and 10 French collections</dd>

              <dt>For the period 1701 – 1750:</dt>
              <dd>50 Dutch, 50 British, and 50 French collections</dd>

              <dt>For the period 1751 – 1800:</dt>
              <dd>80 Dutch, 80 British, and 80 French collections</dd>

              <dt>For the period 1801 – 1830:</dt>
              <dd>40 Dutch, 40 British, and 40 French collections</dd>
            </dl>
          </p>

          <p style="font-size: 18px">
            The Sandbox additionally contains 10 Italian collections, dating from 1729 to 1825, and 44 collections
            owned at least in part by a female collector: 22 French collections, 13 collections from the Dutch
            Republic, and 9 British collections.
          </p>

          <h1 style="margin-top: 40px; text-align: left">How to use this database</h1>

          <p style="font-size: 18px">
            The MEDIATE Sandbox database distinguishes five main fields, displayed on the menu at the top of each page:
            Persons, Places, Collections, Catalogues, Items, and Works. These fields reflect a basic hierarchy: a
            Person (role: owner) in a specific Place and time owned a Collection, recorded in one or more sale or
            auction Catalogues typically drawn up after that Person’s death. Each of these Collections contains a
            number of book and non-book Items. Each book Item can in turn be linked to a specific VIAF Work, of which
            the Item is one specific copy.
          </p>

          <p style="font-size: 18px">
            There are many ways in which you can query the MEDIATE database. Here are some examples:
          </p>

          <p style="font-size: 18px">
            To <b>view the frequency of books</b> by a specific author, go to Item in the header and use the filter form,
            above left, to establish the parameters for your query, for example ‘all books by Ovid that appear in
            French collections recorded in catalogues between 1750 and 1770’. You may then click on ‘Map’ in the
            right-hand corner to display a map showing the places of publication of these books.
          </p>

          <p style="font-size: 18px">
            To <b>rank the occurrence of books</b> by a specific author, go to Person in the header, click on ‘Rank by item
            count’, and use the filter form, above left, to establish the parameters for your query, for example
            ‘illustrators that appear most frequently in British collections recorded in catalogues between 1690 and
            1720’.
          </p>

          <p style="font-size: 18px">
            To <b>rank the occurrence of specific Works</b>, go to Work in the header, click on ‘Rank by item count’, and use
            the filter form, above left, to establish the parameters for your query. Please do be warned, however, that
            given the very low rate of Item-Work matching at present (less than 20%) the ranking displayed will be very
            incomplete, and is to be used with caution.
          </p>

          <p style="font-size: 18px">
            To gain an <b>overview of the contents of Collections belonging to specific (groups of) collectors</b>, go
            to Collection in the header and use the filter form, above left, to establish the parameters for your query,
            for example ‘Collections belonging to French women collectors’ or ‘Collections belonging to Catholic
            collectors with catalogues dating from 1800 to 1830’. You can then click on ‘Statistics’ in the right-hand
            corner to call up pie charts displaying the distribution in these Collections of books by place of
            publication, subject category (Parisian booksellers categories), format, language, and author gender.
          </p>

        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}