<!DOCTYPE html>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block bootstrap3_title %}Mediate - Catalogues{% endblock %}</title>
    {% block extracss %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/mediate.css' %}">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <style>
        body {
            padding: 70px 0px 15px;
        }
    </style>
</head>
<body>

    <!-- top bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        {% if APPLICATION_INSTANCE_TYPE %}
        <div>
            <div class="navbar-brand">
            <span class="label label-warning">{{ APPLICATION_INSTANCE_TYPE }}</span>
            </div>
		</div>
        {% endif %}
        {% if user.is_superuser %}
        <div>
            <div class="navbar-brand">
            <span class="label label-info" title="{% trans 'For a superuser changes to the data will not be moderated.' %}">{% trans "Superuser" %}</span>
            </div>
		</div>
        {% endif %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
                <a href="http://www.ru.nl/" target="_blank" style="padding: 5px 15px 0px 15px">
                    <img src="{% static 'img/ru.png' %}" alt="Radboud University" style="height: 40px">
                </a>
              </li>
              <li>
                <a href="http://www.mediate18.nl"><i>Mediate</i></a>
              </li>
            {% with url_name=request.resolver_match.url_name %}
              {% if perms.persons.change_person or perms.global.view_all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Persons" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'persons' %}">{% trans "Search" %}</a></li>
                        <li><a href="{% url 'persons_ranking' %}">{% trans "Rank by item count" %}</a></li>
                    </ul>
                </li>
              {% endif %}
              {% if perms.persons.change_place or perms.global.view_all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Places" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'places' %}">{% trans "Search" %}</a></li>
                        <li><a href="{% url 'places_ranking' %}">{% trans "Rank by item count" %}</a></li>
                    </ul>
                </li>
              {% endif %}
              {% if perms.persons.change_catalogue or perms.global.view_all %}
                <li class="{% if url_name == 'catalogues' %}active{% endif %}"><a href="{% url 'catalogues' %}">{% trans "Catalogues" %}</a></li>
              {% endif %}
              {% if perms.persons.change_category or perms.global.view_all %}
                <li class="{% if url_name == 'categories' %}active{% endif %}"><a href="{% url 'categories' %}">{% trans "Categories" %}</a></li>
              {% endif %}
              {% if perms.persons.change_item or perms.global.view_all %}
                <li class="{% if url_name == 'items' %}active{% endif %}"><a href="{% url 'items' %}">{% trans "Items" %}</a></li>
              {% endif %}
              {% if perms.persons.change_edition or perms.global.view_all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Editions" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'editions' %}">{% trans "Search" %}</a></li>
                        <li><a href="{% url 'editions_ranking' %}">{% trans "Rank by item count" %}</a></li>
                    </ul>
                </li>
              {% endif %}
              {% if perms.persons.change_work or perms.global.view_all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Works" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'works' %}">{% trans "Search" %}</a></li>
                        <li><a href="{% url 'works_ranking' %}">{% trans "Rank by item count" %}</a></li>
                    </ul>
                </li>
              {% endif %}
            {% endwith %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% include 'registration/accounts_menu.html' %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- end top bar -->

    <div class="container-fluid">
        {% block content %}(no content){% endblock %}
    </div>

    {% block extrajs %}{% endblock %}
</body>
</html>