{% extends "baselayout.html" %}
{% load i18n %}


{% block extracss %}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-10">
        <h1>{% trans action|title %} {% trans object_name %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <table class="table">
                {% csrf_token %}
                    {% if form_as == 'p' %}
                        {{ form.as_p }}
                    {% else %}
                        {{ form.as_table }}
                    {% endif %}
            </table>
        <input type="submit" class="btn pull-right" value="{% trans 'Save' %}"/>
        </form>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    {% if js_variables %}
        js_variables = {{ js_variables|safe }}
    {% endif %}
</script>
{{ form.media.js }}
<script>
$(document).ready(function(){
        $('.django-select2').djangoSelect2({placeholder: 'Select an option'});
});
</script>
{% endblock %}
