{% extends "baselayout.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extracss %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Filter <span class="glyphicon glyphicon-chevron-down"></span></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <form action="" method="get">
                    <table class="table">
                    {{ filter.form.as_table }}
                    </table>
                    <div class="pull-right">
                        {% if per_page_choices and table %}
                            <select name="per_page">
                                {% for per_page in per_page_choices %}
                                    <option value="{{ per_page }}" {% if per_page == table.paginator.per_page %}selected{% endif %}>{{ per_page }}</option>
                                {% endfor %}
                            </select>
                            results per page {{ current_per_page }}
                        {% endif %}
                        <input type="submit" class="btn"/>
                        <a href='{{ request.path }}' class="btn btn-default">Clear</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            {% if object_name_plural %}
                {{ object_name_plural|title }}
            {% else %}
                {{ object_name|title }}s
            {% endif %}
        </h1>
        <div class="pull-right">
            {% if add_url %}
                <a href="{{ add_url }}" class="btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            {% if batch_edit_options %}
                {% if batch_edit_options|length > 1 %}
                    <span class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-list"></span>
                          Selection
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" style="top: 32px">
                        {% for option in batch_edit_options %}
                          <li>
                            <button class="btn btn-link" id="open-batch-edit" batcheditoptionid="{{ option.id }}"
                               data-toggle="modal" data-target="#batchEditModal-{{ option.id }}"
                                    onclick="batch_edit_option = '{{ option.id }}'">
                               {{ option.label }}
                            </button>
                          </li>
                        {% endfor %}
                      </ul>
                    </span>
                    {% for option in batch_edit_options %}
                          {% include 'batcheditmodal.html' %}
                    {% endfor %}
                {% else %}
                    {% for option in batch_edit_options %}
                        <button class="btn btn-default" id="open-batch-edit" batcheditoptionid="{{ option.id }}"
                           data-toggle="modal" data-target="#batchEditModal-{{ option.id }}"
                                onclick="batch_edit_option = '{{ option.id }}'">
                          <span class="glyphicon glyphicon-list"></span> {{ option.label }}
                        </button>
                        {% include 'batcheditmodal.html' %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if export %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-export"></span> Export
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for format, name in export.items %}
                            <li><a href="?_export={{ format }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if map_url %}
                <a href="{{ map_url }}" class="btn btn-default" id="map_url">
                  <span class="glyphicon glyphicon-map-marker"></span> Map
                </a>
            {% endif %}
        </div>
        <div class="small">Displaying {{ filter.qs.count }} of {{ filter.queryset.count }}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% if table %}
            {% render_table table %}
        {% else %}
            <div>No {{ object_name}}s.</div>
        {% endif %}
    </div>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Warning" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to delete this entry?" %}</p>
      </div>
      <div class="modal-footer">
        <!-- Since the confirmation is done in this modal, the deletion is done using a POST.
        A GET would trigger a confirm page. -->
        <form id="delete-form" method="POST" action="">
           {% csrf_token %}
        </form>
        <a class="btn btn-danger" href="" id="delete-link"
               onclick="document.getElementById('delete-form').submit(); return false;">{% trans "Yes" %}</a>
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
      </div>
    </div>

  </div>
</div>

{% if addanother_person_form %}
<!-- Add another Modal -->
<div id="addanotherModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> {% trans "Add another person" %}</h4>
      </div>
        <form id="addanother-person-form" action="{% url 'add_person_simple' %}" method="post">
          <div class="modal-body">
                <table class="table">
                    {% csrf_token %}
                        {% if form_as == 'p' %}
                            {{ addanother_person_form.as_p }}
                        {% else %}
                            {{ addanother_person_form.as_table }}
                        {% endif %}
                </table>
              <div id="addanother-person-message">

              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="{% trans 'Add' %}"/>
            <input type="reset" class="btn btn-default" data-dismiss="modal" value="{% trans 'Cancel' %}"/>
          </div>
        </form>
    </div>

  </div>
</div>
{% endif %}


{% block abstracts %}
{% endblock %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript" src="{% static 'js/table_select_entries.js' %}"></script>
{{ form.media.js }}
{{ addanother_person_form.media.js }}
<script>
function handleAddanotherPersonResponse(response) {
    console.log(response);
    if(response.pk) { // Success!
        var source_id = $('#addanother-person-message').attr('source_id');
        $('#'+source_id).val(null).trigger('change');
        var newOption = new Option(response.short_name, response.pk, true, true);
        $('#'+source_id).append(newOption).trigger('change');
        $('#addanotherModal').modal('toggle');
    } else {
        $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
    }
}

$(document).ready(function(){
        $('.delete-entry').on('click', function() {
            var url = $(this).attr('modal_url');
            $('#delete-form').attr('action', url);
            $('#delete-link').attr('href', url);
        });

        $('[data-toggle="tooltip"]').tooltip({
            placement : 'bottom'
        });

        // Determine where the addanotherModal was triggered
        // and register the id in the form of the modal.
        $('#addanotherModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var source_id = button.parent().children("select").attr('id')
            $('#addanother-person-message').attr('source_id', source_id)
        });

        $('#addanother-person-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                 type:"POST",
                 url: $('#addanother-person-form').attr('action'),
                 data: $('#addanother-person-form').serialize(),
                 success: function(response){
                     handleAddanotherPersonResponse(response);
                 },
                 error: function(response){
                    console.log(response);
                    $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
                 }
            });
        });

        $('.expandable-cell').each(function() {
        console.log($(this).height());
            if($(this).height() >= 70) {
                $(this).closest('td').find('.expand-cell').show();
            }
        });
        $('.expand-cell').on('click', function(e) {
            // Hide chevron down
            $(this).hide();
            // Show chevron up
            $(this).closest('td').find('.collapse-cell').show();
            // Make the surrounding div disable 'max-height'
            $(this).closest('td').find('.expandable-cell').toggleClass('collapsed-cell');
        });
        $('.collapse-cell').on('click', function(e) {
            // Hide chevron up
            $(this).hide();
            // Show chevron down
            $(this).closest('td').find('.expand-cell').show();
            // Make the surrounding div enable 'max-height'
            $(this).closest('td').find('.expandable-cell').toggleClass('collapsed-cell');
        });

        // Dynamically add a form to the form set
        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html()
                .replace(/__prefix__/g, form_idx)
                .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
            $('#form_set').find('select').djangoSelect2();

            // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
            $('#form_set').find('select ~ span:nth-of-type(2)').hide();

            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        var map_url_href = $('#map_url').attr('href');
        $('#map_url').attr('href', map_url_href + window.location.search);
});
</script>
{% endblock %}