{% extends "baselayout.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extracss %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Filter <span class="glyphicon glyphicon-chevron-down"></span></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <form action="" method="get">
                    <table class="table">
                    {{ filter.form.as_table }}
                    </table>
                    <div class="pull-right">
                        <input type="submit" class="btn"/>
                        <a href='{{ request.path }}' class="btn">Clear</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            {% if object_name_plural %}
                {{ object_name_plural|title }}
            {% else %}
                {{ object_name|title }}s
            {% endif %}
            <div class="pull-right">
                {% if add_url %}
                    <a href="{{ add_url }}" class="btn btn-default">
                      <span class="glyphicon glyphicon-plus"></span> New
                    </a>
                {% endif %}
                {% if batch_edit_options %}
                    {% if batch_edit_options|length > 1 %}
                        <div class="btn-group" role="group" aria-label="batch edit">
                    {% endif %}
                    {% for option in batch_edit_options %}
                        <button class="btn btn-default" id="open-batch-edit" batcheditoptionid="{{ option.id }}"
                           data-toggle="modal" data-target="#batchEditModal"
                                onclick="batch_edit_option = '{{console.log('bla')">
                          <span class="glyphicon glyphicon-list"></span> {{ option.label }}
                        </button>
                        <div class="hidden">
                            <form method="POST" action="{{ option.url }}" id="form_{{ option.id }}">
                                {% csrf_token %}

                              <div class="modal-body">
                                <!-- batch edit form -->
                                {% if option.form %}
                                    <table class="table">
                                        {{ option.form.as_table }}
                                    </table>
                                {% endif %}
                                {% if option.form_set %}
                                    {{ option.form_set.management_form }}
                                    <div id="form_set">
                                        {% for form in option.form_set %}
                                            <h5>Relation {{ forloop.counter0|add:1 }}</h5>
                                            <table class="table">
                                                {{ form.as_table }}
                                            </table>
                                        {% endfor %}
                                        <div id="empty_form" style="display:none">
                                            <h5>Relation __prefixplusone__</h5>
                                            <table class='table'>
                                                {{ option.form_set.empty_form }}
                                            </table>
                                        </div>
                                    </div>
                                    <input type="button" class="btn btn-default" value="Add another relation" id="add_more">
                                {% endif %}
                              </div>
                              <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="{% trans 'Add' %}"/>
                                <input type="reset" class="btn btn-default" data-dismiss="modal" value="{% trans 'Cancel' %}"/>
                              </div>
                            </form>
                        </div>
                    {% endfor %}
                    {% if batch_edit_options|length > 1 %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="hidden" id="batch-edit-modal-content">
                    <div id="no-selected-entries-warning">
                      <div class="modal-body">
                          <p>{% trans "No entries selected" %}</p>
                      </div>
                      <div class="modal-footer">
                        <input type="reset" class="btn btn-default" data-dismiss="modal" value="{% trans 'Close' %}"/>
                      </div>
                    </div>
                </div>
                {% if export %}
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-export"></span> Export
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for format, name in export.items %}
                                <li><a href="?_export={{ format }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </h1>
        <div class="small">Displaying {{ filter.qs.count }} of {{ filter.queryset.count }}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% if table %}
            {% render_table table %}
        {% else %}
            <div>No {{ object_name}}s.</div>
        {% endif %}
    </div>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Warning" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to delete this entry?" %}</p>
      </div>
      <div class="modal-footer">
        <!-- Since the confirmation is done in this modal, the deletion is done using a POST.
        A GET would trigger a confirm page. -->
        <form id="delete-form" method="POST" action="">
           {% csrf_token %}
        </form>
        <a class="btn btn-danger" href="" id="delete-link"
               onclick="document.getElementById('delete-form').submit(); return false;">{% trans "Yes" %}</a>
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
      </div>
    </div>

  </div>
</div>

{% if batch_edit_options %}
<!-- Batch Edit Modal -->
<div id="batchEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-list"></span>
            {% trans "Add relations to selected " %}
            {% if object_name_plural %}
                {{ object_name_plural|title }}
            {% else %}
                {{ object_name|title }}s
            {% endif %}
        </h4>
      </div>
      <div id="batcheditformcontainer"></div>
    </div>

  </div>
</div>
{% endif %}

{% if addanother_person_form %}
<!-- Add another Modal -->
<div id="addanotherModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> {% trans "Add another person" %}</h4>
      </div>
        <form id="addanother-person-form" action="{% url 'add_person_simple' %}" method="post">
          <div class="modal-body">
                <table class="table">
                    {% csrf_token %}
                        {% if form_as == 'p' %}
                            {{ addanother_person_form.as_p }}
                        {% else %}
                            {{ addanother_person_form.as_table }}
                        {% endif %}
                </table>
              <div id="addanother-person-message">

              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="{% trans 'Add' %}"/>
            <input type="reset" class="btn btn-default" data-dismiss="modal" value="{% trans 'Cancel' %}"/>
          </div>
        </form>
    </div>

  </div>
</div>
{% endif %}


{% block abstracts %}
{% endblock %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/table_select_entries.js' %}"></script>
{{ form.media.js }}
{{ addanother_person_form.media.js }}
<script>
function handleAddanotherPersonResponse(response) {
    console.log(response);
    if(response.pk) { // Success!
        var source_id = $('#addanother-person-message').attr('source_id');
        $('#'+source_id).append(
            '<option value="'+response.pk+'">'+response.short_name+'</option>'
        );
        $('#addanotherModal').modal('toggle');
    } else {
        $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
    }
}

$(document).ready(function(){
        $('.delete-entry').on('click', function() {
            var url = $(this).attr('modal_url');
            $('#delete-form').attr('action', url);
            $('#delete-link').attr('href', url);
        });

        $('[data-toggle="tooltip"]').tooltip({
            placement : 'bottom'
        });

        // Determine where the addanotherModal was triggered
        // and register the id in the form of the modal.
        $('#addanotherModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var source_id = button.parent().children("select").attr('id')
            $('#addanother-person-message').attr('source_id', source_id)
        });

        $('#addanother-person-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                 type:"POST",
                 url: $('#addanother-person-form').attr('action'),
                 data: $('#addanother-person-form').serialize(),
                 success: function(response){
                     handleAddanotherPersonResponse(response);
                 },
                 error: function(response){
                    console.log(response);
                    $('#addanother-person-message').append('{% trans "Something went wrong. Please review the form." %}');
                 }
            });
        });

        $('.expandable-cell').each(function() {
        console.log($(this).height());
            if($(this).height() >= 70) {
                $(this).closest('td').find('.expand-cell').show();
            }
        });
        $('.expand-cell').on('click', function(e) {
            // Hide chevron down
            $(this).hide();
            // Show chevron up
            $(this).closest('td').find('.collapse-cell').show();
            // Make the surrounding div disable 'max-height'
            $(this).closest('td').find('.expandable-cell').toggleClass('collapsed-cell');
        });
        $('.collapse-cell').on('click', function(e) {
            // Hide chevron up
            $(this).hide();
            // Show chevron down
            $(this).closest('td').find('.expand-cell').show();
            // Make the surrounding div enable 'max-height'
            $(this).closest('td').find('.expandable-cell').toggleClass('collapsed-cell');
        });

        // Dynamically add a form to the form set
        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html()
                .replace(/__prefix__/g, form_idx)
                .replace(/__prefixplusone__/g, parseInt(form_idx) + 1));
            $('#form_set').find('select').djangoSelect2();

            // Workaround for the fact that djangoSelect2() as used above duplicates the selects.
            $('#form_set').find('select ~ span:nth-of-type(2)').hide();

            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
});
</script>
{% endblock %}