{% extends extended_layout|default:"baselayout.html" %}
{% load i18n %}
{% load underscore_to_space %}

{% block extracss %}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>{% trans "Moderate" %} {{ object.content_type|title }} <i>{{ object.content_object }}</i></h1>

        <h3>{% trans "Original and new data" %}</h3>

        <!-- Expand and collapse all panels -->
        <div class="btn-toolbar" role="toolbar" id="panel-expand-collapse-btn-toolbar">
            <div class="pull-right">
                <div class="btn-group" id="panel-expand-collapse-btn-group">
                    <button id="expand-panels" type="button" class="btn btn-default btn-xs" title="Expand unchanged fields">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <button id="collapse-panels" type="button" class="btn btn-default btn-xs" title="Collapse unchanged fields">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Original" %}</th>
                    <th>{% trans "New" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for field, change in changes.items %}
                    <tr class="{% if change.changed %}bg-warning{% else %}field-collapse{% endif %}">
                        <th>{{ field.name|underscore_to_space|capfirst }}:</th>
                        <td id="original_{{ field.name }}">
                            {% if change.original.get_absolute_url %}
                                <a href="{{ change.original.get_absolute_url }}" target="_blank">
                                    {{ change.original }}
                                </a>
                            {% else %}
                                {{ change.original|default_if_none:"" }}
                            {% endif %}
                        </td>
                        <td id="new_{{ field.name }}">
                            {% if change.new.get_absolute_url %}
                                <a href="{{ change.new.get_absolute_url }}" target="_blank">
                                    {{ change.new }}
                                </a>
                            {% else %}
                                {% if field.get_internal_type == 'TextField' %}
                                    <span id="diff_{{ field.name }}" class="field_diff"
                                        data-original="{{ change.original|default_if_none:'' }}"
                                        data-new="{{ change.new|default_if_none:'' }}"/>
                                {% else %}
                                    {{ change.new|default_if_none:"" }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>{% trans "Moderation" %}</h3>

        <form action="{{ request.path }}?next={{ next_url }}" method="post" enctype="multipart/form-data">
            <table class="table">
                {% csrf_token %}
                    {% if form_as == 'p' %}
                        {{ form.as_p }}
                    {% else %}
                        {{ form.as_table }}
                    {% endif %}
            </table>

            <div class="pull-right">
                <input type="submit" class="btn" value="{% trans 'Commit' %}"/>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    {% if js_variables %}
        js_variables = {{ js_variables|safe }}
    {% endif %}
</script>
{{ form.media.js }}

<script>
// This needs jsdiff (https://github.com/kpdecker/jsdiff)
function get_diff(original, new_value) {
    var diff = JsDiff.diffChars(original, new_value),
        fragment = document.createDocumentFragment();

    diff.forEach(function(part){
      // green for additions, red for deletions
      // no color for common parts
      color = part.added ? 'green' :
        part.removed ? 'red' : '';
      span = document.createElement('span');
      span.style.color = color;
      span.appendChild(document
        .createTextNode(part.value));
      fragment.appendChild(span);
    });

    return fragment;
}
</script>
<script>
$(document).ready(function(){
        $('.django-select2').djangoSelect2({placeholder: 'Select an option'});

        // Turn text in .field_diff elements in a color coded diff
        $('.field_diff').each(function(){
            var original = $(this).data('original');
            var new_value = $(this).data('new');
            var diff = get_diff(original, new_value);
            $(this).append(diff);
        });

        // Show/hide the fields that are not changed
        $('.field-collapse').hide();
        $('#expand-panels').on('click', function() {
            $('.field-collapse').show(500);
        });
        $('#collapse-panels').on('click', function() {
            $('.field-collapse').hide(500);
        });
});
</script>
{% endblock %}
