{% extends "generic_list.html" %}
{% load i18n %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.css"/>
{% endblock %}


{% block extrajs %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/js/htmx.min.js" defer></script>
{% endblock %}


{% block abstracts %}

<h3>Number of items per decade</h3>
<div hx-get="{% url 'get_catalogue_chart'  %}?{{ url_params }}" hx-trigger="load">
    <img  alt="Loading..." class="htmx-indicator" width="20" src="/static/img/oval.svg"/>
    {% trans 'Loading...' %}
</div>

{% endblock %}