{% extends "barelayout.html" %}
{% load i18n %}
{% load static %}
{% load dictionary_lookup %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'catalogues/css/catalogue_detail.css' %}">
{% endblock %}

{% block content %}

<a class="pull-right" href="{% url 'change_catalogue' object.pk %}?layout=bare&next={{ request.path }}">
    <span class="glyphicon glyphicon-pencil" title="{% trans 'Change catalogue' %}"></span>
</a>
<dl class="dl-horizontal" style="padding-bottom: 15px;">
    <dt>{% trans "Short title" %}</dt>
    <dd>{{ object.short_title }}</dd>

    <dt>{% trans "Year of publication" %}</dt>
    <dd>{{ object.year_of_publication }}</dd>

    <dt>{% trans "Full title" %}</dt>
    <dd>{{ object.full_title }}</dd>

    <dt>{% trans "Preface and paratexts" %}</dt>
    <dd>{{ object.preface_and_paratexts }}</dd>

    <dt>{% trans "Notes" %}</dt>
    <dd>{{ object.notes }}</dd>

    <dt>{% trans "Scans" %}</dt>
    <dd>
        {% for scan in object.transcription.scans.all %}
            <a href="{% url 'protected_media' scan.scan.name %}" target="_blank">{{ scan.scan.name }}</a>
        {% endfor %}
    </dd>

    <dt>{% trans "Types" %}</dt>
    <dd>
        {% for cataloguecataloguetyperelation in object.cataloguecataloguetyperelation_set.all %}
            {{ cataloguecataloguetyperelation.type }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </dd>
</dl>
<h2 class="text-center">{% trans "Lots" %}</h2>
<table class="table table-hover">
{% for lot in object.lot_set.all %}
            {% if lot.index_in_catalogue in first_lot_on_page_dict %}
    <tr>
        <td class="text-center" colspan="4">
                <b>{% trans "Page" %} {{ first_lot_on_page_dict|lookup:lot.index_in_catalogue }}</b>
        </td>
    </tr>
            {% endif %}
            {% if lot.number_in_catalogue == "1" %}
    <tr>
        <td class="text-center" colspan="4">
                <br/>
                <h4><i>{{ lot.bookseller_category_books }}</i></h4>
        </td>
    </tr>
            {% endif %}
    <tr>
        <td>
            <b>{{ lot.number_in_catalogue }}</b>
        </td>
        <td>
            {{ lot }}
        </td>
        <td>
            <i>{{ lot.sales_price }}</i>
        </td>
        <td>
            {% if lot.under_moderation %}
                <span class="glyphicon glyphicon-ban-circle" title="{% trans 'Lot is being moderated' %}"></span>
            {% else %}
                <a href="{% url 'change_lot' lot.pk %}?layout=bare&next={{ request.path }}">
                    <span class="glyphicon glyphicon-pencil" title="{% trans 'Change lot' %}"></span>
                </a>
            {% endif %}
            <a href="{% url 'items' %}?lot__uuid={{ lot.pk }}" target="_blank">
                <span class="glyphicon glyphicon-list" title="{% trans 'Items of this lot' %}"></span>
            </a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}