{% extends "generic_list.html" %}
{% load i18n %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.css"/>
{% endblock %}

{% block abstracts %}
{% if extra_data %}

<h3>Number of items per decade</h3>
<div class="item_count_per_decade">
    <div id="item_count_per_decade__chart"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.js"></script>
<script src="http://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">
    var extra_data = {{ extra_data|safe }};

    var data = ['number of items'];
    extra_data['item_count_per_decade'].forEach(function(el) { data.push(el['count']) });
    var x = ['x']
    extra_data['item_count_per_decade'].forEach(function(el) { x.push(el['decade']) });

    var chart = c3.generate({
        bindto: '#item_count_per_decade__chart',
        data: {
            x: 'x',
            columns: [
                x,
                data
            ],
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.7
            }
        }
    });

</script>
{% endif %}

{% endblock %}