{% extends "barelayout.html" %}
{% load i18n %}
{% load static %}
{% load dictionary_lookup %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'catalogues/css/collection_detail.css' %}">
{% endblock %}

{% block content %}

{% if collection.under_moderation %}
    <span class="glyphicon glyphicon-ban-circle pull-right" title="{% trans 'Collection is being moderated' %}"></span>
{% else %}
    <a class="pull-right" href="{% url 'change_collection' object.pk %}?layout=bare&next={{ request.path }}">
        <span class="glyphicon glyphicon-pencil" title="{% trans 'Change collection' %}"></span>
    </a>
{% endif %}

<dl class="dl-horizontal" style="padding-bottom: 15px;">
    <dt>{% trans "Short title" %}</dt>
    <dd>{{ object.short_title }}</dd>

    <dt>{% trans "Year of publication" %}</dt>
    <dd>{{ object.year_of_publication }}</dd>

    <dt>{% trans "Full title" %}</dt>
    <dd>{{ object.full_title|linebreaks }}</dd>

    <dt>{% trans "Type(s)" %}</dt>
    <dd>
        {% for typerelation in object.collectioncollectiontyperelation_set.all %}
            typerelation.type
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </dd>

    <dt>{% trans "Preface and paratexts" %}</dt>
    <dd>{{ object.preface_and_paratexts|linebreaks }}</dd>

    <dt>{% trans "Notes" %}</dt>
    <dd>{{ object.notes|linebreaks }}</dd>

    <dt>{% trans "Scans" %}</dt>
    <dd>
        {% for scan in object.shelf_mark.scans.all %}
            <a href="{% url 'protected_media' scan.scan.name %}" target="_blank">{{ scan.scan.name }}</a>
        {% endfor %}
    </dd>

    <dt>{% trans "Types" %}</dt>
    <dd>
        {% for collectioncollectiontyperelation in object.collectioncollectiontyperelation_set.all %}
            {{ collectioncollectiontyperelation.type }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </dd>
</dl>
<h2 class="text-center">{% trans "Lots" %}</h2>
<table class="table table-hover">
{% for lot in object.sorted_lot_set %}
            {% if lot.index_in_collection in first_lot_on_page_dict %}
    <tr>
        <td colspan="4" style="padding: 0px;">
            <!--before page {{ lot.page_in_collection }}, before lot index {{ lot.index_in_collection }}-->
            {% if lot.index_in_collection in first_lot_in_category_dict %}
                <a href="{% url 'add_lot_before' lot.pk %}?page&category" title="Add lot here">
                <div style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 1px; background-color: #ddd;"></div>
                </div>
            </a>
            {% else %}
                <a href="{% url 'add_lot_before' lot.pk %}?page" title="Add lot here">
                <div style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 1px; background-color: #ddd;"></div>
                </div>
            </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-center" colspan="4">
                <b>{% trans "Page" %} {{ lot.page_in_collection }}</b>
        </td>
    </tr>
            {% endif %}
            {% if lot.index_in_collection in first_lot_in_category_dict %}
    <tr>
        <td colspan="4" style="padding: 0px;">
            <!-- before category {{ lot.category.bookseller_category }}, before lot index {{ lot.index_in_collection }}-->
            <a href="{% url 'add_lot_before' lot.pk %}?category" title="Add lot here">
                <div style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 1px; background-color: #ddd;"></div>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td class="text-center" colspan="4">
                <br/>
                <h4><i>{{ lot.category.bookseller_category }}</i></h4>
        </td>
    </tr>
            {% endif %}
    <tr>
        <td colspan="4" style="padding: 0px;">
            <!--before lot index {{ lot.index_in_collection }}-->
            <a href="{% url 'add_lot_before' lot.pk %}" title="Add lot here">
                <div style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 1px; background-color: #ddd;"></div>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <b>{{ lot.number_in_collection }}</b>
        </td>
        <td>
            <a class="lot-anchor" id="lot__{{ lot.uuid }}"></a>
            {{ lot }}
        </td>
        <td>
            <i>{{ lot.sales_price }}</i>
        </td>
        <td>
            {% if lot.under_moderation %}
                <span class="glyphicon glyphicon-ban-circle" title="{% trans 'Lot is being moderated' %}"></span>
            {% else %}
                <a href="{% url 'change_lot' lot.pk %}?layout=bare&next={{ request.path }}">
                    <span class="glyphicon glyphicon-pencil" title="{% trans 'Change lot' %}"></span>
                </a>
            {% endif %}
            <a href="{% url 'items' %}?lot__uuid={{ lot.pk }}" target="_blank">
                <span class="glyphicon glyphicon-list" title="{% trans 'Items of this lot' %}"></span>
            </a>
            <a href="{% url 'expand_lot' lot.pk %}?next={{ request.path }}%23lot__{{ lot.uuid }}">
                <span class="glyphicon glyphicon-plus" title="{% trans 'Add items to this lot' %}"></span>
            </a>
        </td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="4" style="padding: 0px;">
            <!--before lot index {{ lot.index_in_collection }}-->
            <a href="{% url 'add_lot_at_end' object.pk %}" title="Add lot here">
                <div style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 1px; background-color: #ddd;"></div>
                </div>
            </a>
        </td>
    </tr>
</table>
{% endblock %}