{% load i18n %}

{% trans 'Number of unclassified items:' %} {{ unclassified_items_count }}
({{ percentage_unclassified_items_count }}%)
<div class="{{ chart_id }}">
    <div id="{{ chart_id }}__chart"></div>
</div>


<script type="text/javascript">
    var data = {{ item_count|safe }};

    var chart = c3.generate({
        bindto: '#{{ chart_id }}__chart',
        data: {
            columns: data,
            type: 'pie'
        },
        legend: {
            show: {{ show_legend|default:"true" }},
            position: 'right',
        },
        tooltip: {
            format: {
                title: function (d) { return d; },
                value: function (value, ratio, id) {
                    percentage = (100 * ratio).toFixed(1)
                    return percentage + '% (' + value + ' items)';
                }
            }
        }
    });

</script>