<p>
    MEDIATE team members have manually classified book Items into one of the five subject categories used in the
    eightenth century by Parisian booksellers, the so-called 'Parisian booksellers' system' that was widely used
    by bibliographers, booksellers and cataloguers in France and beyond. This very rough classification system is
    intended primarily as a heuristic aid in understanding the contents of individual libraries or groups of libraries
    in the database. It can be used in conjunction with subject categorizations already present in some of the (French)
    catalogues, and will be supplemented later on by more fine-grained subject taxonomies.
</p>

<p>
    For more on the Parisian booksellers' system, see H. Blom, <a href="https://mediate18.nl/docs/Blom_Helwi.pdf">'Philosophie ou Commerce? L’évolution des systèmes de
    classement bibliographique dans les catalogues de bibliothèques privées publiés en France au XVIIIe siècle'</a>, in
    Frédéric Barbier, István Monok and Andrea Seidler (eds), <i>Les bibliothèques et l’économie des
    connaissances/Bibliotheken und die Ökonomie des Wissens 1450–1850</i>. Colloque international – Internationale Tagung,
    9–13 avril/April 2019 Sárospatak (Hongrie/Ungarn), Budapest, Magyar Tudományos Akadémia Könyvtár és Információs
    Központ, 2020, pp. 203-234.
</p>