{% load i18n %}

{% if user.is_authenticated %}
<li>
    <a href="{% url 'dashboard' %}" style="max-height: 50px"> <span class="glyphicon glyphicon-user"> </span>
        {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
        {% else %}
            {{ user.username }}
        {% endif %}
    </a>
</li>
<li>
    <a href="{% url 'logout' %}" style="max-height: 50px"><span class="glyphicon glyphicon-log-out"> </span> Log out</a>
</li>
{% else %}
<li>
    <a href="{% url 'login' %}" style="max-height: 50px"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
</li>
{% endif %}